
 *{
      		font-family: 'ABeeZee';
      		font-size: 30px;
      		margin: 0;
      		padding: 0;
         }

         .back
         {
         	/*background-color: #4d4d4d;*/
         	background-image: url('bhoot.gif');
         	margin-top: 0;
         	padding-top: 0;
         	width: 100%;
         	background-repeat: no-repeat;


         }



         .modal {
  display: none; 
  position: fixed;

  padding-top: 210px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,1); 
  color:red;
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 10%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#ans
{
	margin-top: 18vw;
	text-align: center;
	border-radius: 30px;
	font-size: 2vw;
	padding: 10px;
	width: 95%;


}
#name
{
	text-align: center;
	border-radius: 5px;
	border:none;
	padding: 10px;
	width: 200px;
	background-color: 	#f8f8ff;
}

#myBtn
{
	border-radius: 10px;
	cursor: pointer;
	border:none;
	font-size: 20px;
	padding: 10px;
	outline: none;
	margin-bottom: 30px;
}
#myBtn:hover
{
	background-color: inherit;
	color: white;
	border:2px solid white;

}
#myBtn1
{
	margin-top: 30px;
}


.game
{

}
.circle
{
	background-color: rgba(0,0,0,0.5);
	
	text-align: center;
	border-radius: 50%;
	height: 40vw;
	width: 40vw;
	margin-bottom: 30px;

}
/*#ans @keyframes fadein
{
  from{bottom:0; opacity: 0;}
  to{bottom: 30px; opacity: 1;}
}*/

#snackbar
{
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	left: 50%;
	bottom:20
	0px;
	font-size: 17px;

}
#snackbar.show
{
	visibility: visible;
	
	animation: fadein 0.8s;
}


#thanks
{
	border-radius: 10px;
	background-color: red;
	border: none;
	padding: 5px 5px 5px 5px;
	width: 100px;
	height: 40px;

}
#thanks a
{
	color: black;
	border-bottom: none;
	text-decoration: none;
}

#thanks a:hover
{
color: red;
}
#thanks:hover

{

	
	background-color: white;
	cursor: pointer;


}


@keyframes fadein
{
	from{bottom:400px; opacity: 0;}
	to{bottom: 0; opacity: 1;}
}

@keyframes expand
{
	from{
		width: 0%;
		opacity: 1;

	}
	to
	{
		width: 60%;
		opacity: 0;
	}
}

